In [118]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [123]:
path = os.path.join("Resources", "crime_incident_data2017.csv")

In [158]:
df = pd.read_csv(path).rename(columns=lambda s:s.lower().replace(" ", "_"))\
[["neighborhood", 
    "occur_date", 
    "occur_time", 
    "offense_category", 
    "offense_count",
    "offense_type", 
    "report_date"
]]\
.dropna()\
.assign(report_date=lambda df : pd.to_datetime(df["occur_date"], format = "%m/%d/%y"))

occur_datetime = pd.to_datetime(
df["occur_date"] + ":" + df["occur_time"].astype("str").apply(lambda s: s[:-2]  + "," + s[-2:]),
format="%m/%d/%y:%H%M", errors="coerce"
)

df = df.assign(occur_datetime=occur_datetime)\
.drop("occur_date", axis 1)\
.drop("occur_time", axis 1)

SyntaxError: invalid syntax (<ipython-input-158-e1e7fe1686b3>, line 19)

In [157]:
df

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date,occur_datetime
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,2000-01-20,NaT
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,2003-12-01,NaT
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,2010-01-01,NaT
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,2010-01-01,NaT
5,King,11/28/10,1612,Fraud Offenses,1,Identity Theft,2010-11-28,NaT
...,...,...,...,...,...,...,...,...
41026,Parkrose,8/31/17,2005,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,2017-08-31,NaT
41027,Sumner,8/31/17,535,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,2017-08-31,NaT
41028,Hazelwood,8/31/17,1619,Prostitution Offenses,1,Prostitution,2017-08-31,NaT
41029,Hazelwood,8/31/17,1959,Prostitution Offenses,1,Prostitution,2017-08-31,NaT
41031,Foster-Powell,8/31/17,2354,Weapon Law Violations,1,Weapons Law Violations,2017-08-31,NaT

In [141]:
df.columns

Index(['neighborhood', 'occur_date', 'occur_time', 'offense_category',
       'offense_count', 'offense_type', 'report_date', 'occur_datetime'],
      dtype='object')

In [142]:
df["neighborhood"].value_counts( )

Downtown               2802
Hazelwood              2616
Lents                  1502
Powellhurst-Gilbert    1467
Old Town/Chinatown     1311
                       ...
Arnold Creek             23
Woodland Park            19
Crestwood                 8
Marshall Park             6
Healy Heights             5
Name: neighborhood, Length: 96, dtype: int64

In [143]:
df["offense_count"].value_counts()

1     39670
2        37
3         2
16        1
7         1
4         1
Name: offense_count, dtype: int64

In [144]:
df[df["offense_count"]>=2]

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date,occur_datetime
141,Hazelwood,11/20/16,1200,Motor Vehicle Theft,2,Motor Vehicle Theft,2016-11-20,NaT
256,Sullivan's Gulch,12/31/16,1800,Motor Vehicle Theft,2,Motor Vehicle Theft,2016-12-31,NaT
984,Woodstock,1/4/17,209,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-01-04,NaT
2059,Parkrose,1/10/17,1730,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-01-10,NaT
3497,Centennial,1/25/17,0,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-01-25,NaT
4311,Centennial,1/30/17,1115,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-01-30,NaT
5553,East Columbia,2/5/17,1230,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-02-05,NaT
6310,Kenton,2/10/17,1129,Motor Vehicle Theft,7,Motor Vehicle Theft,2017-02-10,NaT
6941,Wilkes,2/11/17,422,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-02-11,NaT
8660,Kenton,2/24/17,2230,Motor Vehicle Theft,16,Motor Vehicle Theft,2017-02-24,NaT
9268,Sunderland,8/15/15,1200,Motor Vehicle Theft,2,Motor Vehicle Theft,2015-08-15,NaT
11707,Eliot,3/14/17,800,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-03-14,NaT
12205,Sunnyside,3/16/17,2200,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-03-16,NaT
12917,Richmond,3/13/17,800,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-03-13,NaT
13779,Powellhurst-Gilbert,3/25/17,1800,Motor Vehicle Theft,3,Motor Vehicle Theft,2017-03-25,NaT
13813,Powellhurst-Gilbert,3/26/17,1100,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-03-26,NaT
15715,Foster-Powell,4/5/17,2000,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-05,NaT
16977,Argay,4/14/17,300,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-14,NaT
17039,Brentwood-Darlington,4/14/17,2130,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-14,NaT
17108,Mt Tabor,4/15/17,1,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-15,NaT
17443,Montavilla,4/17/17,426,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-17,NaT
18005,Northwest,4/20/17,1830,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-20,NaT
18468,Pearl,4/22/17,30,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-04-22,NaT
23273,Hosford-Abernethy,5/20/17,2200,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-05-20,NaT
25863,Hillsdale,6/2/17,2200,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-06-02,NaT
26446,Mill Park,6/6/17,700,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-06-06,NaT
26936,Foster-Powell,6/9/17,1800,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-06-09,NaT
28603,Wilkes,6/19/17,530,Motor Vehicle Theft,3,Motor Vehicle Theft,2017-06-19,NaT
29411,Brentwood-Darlington,6/24/17,1301,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-06-24,NaT
29564,Mill Park,6/25/17,1454,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-06-25,NaT
30217,Brentwood-Darlington,6/29/17,626,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-06-29,NaT
31211,Hazelwood,7/3/17,1715,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-07-03,NaT
31689,Creston-Kenilworth,7/6/17,1900,Motor Vehicle Theft,4,Motor Vehicle Theft,2017-07-06,NaT
32305,Eastmoreland,7/10/17,2300,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-07-10,NaT
32833,Richmond,7/13/17,2200,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-07-13,NaT
33865,Northwest,7/20/17,2000,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-07-20,NaT
33959,Woodstock,7/21/17,1610,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-07-21,NaT
37279,Richmond,8/8/17,2330,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-08-08,NaT
37280,Southwest Hills,8/8/17,1630,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-08-08,NaT
38065,Pearl,8/13/17,830,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-08-13,NaT
38418,Vernon,8/15/17,1800,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-08-15,NaT
39514,Sellwood-Moreland,8/22/17,2000,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-08-22,NaT

In [145]:
df.loc[df["offense_count"]>=2, "offense_count"]

141       2
256       2
984       2
2059      2
3497      2
4311      2
5553      2
6310      7
6941      2
8660     16
9268      2
11707     2
12205     2
12917     2
13779     3
13813     2
15715     2
16977     2
17039     2
17108     2
17443     2
18005     2
18468     2
23273     2
25863     2
26446     2
26936     2
28603     3
29411     2
29564     2
30217     2
31211     2
31689     4
32305     2
32833     2
33865     2
33959     2
37279     2
37280     2
38065     2
38418     2
39514     2
Name: offense_count, dtype: int64

In [146]:
df.loc[df["offense_count"]>=2, "offense_category"].unique()

array(['Motor Vehicle Theft'], dtype=object)

In [147]:
df["report_date"].dtype

dtype('<M8[ns]')

In [148]:
df["occur_date"]

1         1/20/00
2         12/1/03
3          1/1/10
4          1/1/10
5        11/28/10
           ...
41026     8/31/17
41027     8/31/17
41028     8/31/17
41029     8/31/17
41031     8/31/17
Name: occur_date, Length: 39712, dtype: object

In [149]:
pd.to_datetime(df["occur_date"]).dtype

dtype('<M8[ns]')

In [150]:
pd.to_datetime(df["occur_date"], format = "%m/%d/%y")

1       2000-01-20
2       2003-12-01
3       2010-01-01
4       2010-01-01
5       2010-11-28
           ...
41026   2017-08-31
41027   2017-08-31
41028   2017-08-31
41029   2017-08-31
41031   2017-08-31
Name: occur_date, Length: 39712, dtype: datetime64[ns]

In [151]:
df.dtypes

neighborhood                object
occur_date                  object
occur_time                   int64
offense_category            object
offense_count                int64
offense_type                object
report_date         datetime64[ns]
occur_datetime      datetime64[ns]
dtype: object

In [152]:
df[["occur_date", "occur_time"]].head()

  occur_date  occur_time
1    1/20/00        1615
2    12/1/03         800
3     1/1/10           0
4     1/1/10           0
5   11/28/10        1612

In [153]:
s = df["occur_date"] + ":" + df["occur_time"].astype("str").apply(lambda s: s[:-2]  + "," + s[-2:])

In [154]:
s

1         1/20/00:16,15
2          12/1/03:8,00
3             1/1/10:,0
4             1/1/10:,0
5        11/28/10:16,12
              ...
41026     8/31/17:20,05
41027      8/31/17:5,35
41028     8/31/17:16,19
41029     8/31/17:19,59
41031     8/31/17:23,54
Length: 39712, dtype: object

In [155]:
pd.to_datetime(s, format="%m/%d/%y:%H%M", errors="coerce")

1       NaT
2       NaT
3       NaT
4       NaT
5       NaT
         ..
41026   NaT
41027   NaT
41028   NaT
41029   NaT
41031   NaT
Length: 39712, dtype: datetime64[ns]